:root {

  /* Fonts */

  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Text colors  */

  --primary-text-color: #2E2F42;
  --secondary-txt-cl: #434455;
  --hero-main-txt-cl: #FFFFFF;
  --accent-txt-cl: #404BBF;
  --logo-blue-txt-cl: #4D5AE5;
  --hero-button-cl: #4D5AE5;
  --footer-logo-light-txt-cl: #F4F4FD;
  --footer-light-txt-cl: #E7E9FC;


  /* Background colors */

  --main-bg-cl: #FFFFFF;

}



body {

  background-color: var(--main-bg-cl)
}


.logo {

  color: #4D5AE5;
}

.logo:hover {
  color: #434455;
}

.list {
  list-style: none;
}



/**
  |============================
  | Header
  |============================
*/


/* Site nav */

.site-nav .link {
  color: #2E2F42;
}

.site-nav .link:hover,
.site-nav .link:focus {

  color: #404BBF;
}



/**
  |============================
  | Index main
  |============================
*/


/* Hero */



.hero-title {
  color: #FFFFFF;
}


/* Section */


.section-title {
  color: #2E2F42;
}

/* About */

.about-list {

  color: #2E2F42;
}

.title {
  color: #434455;
}

/**
  |============================
  | Portfolio main
  |============================
*/


/**
  |============================
  | Footer
  |============================
*/

width: 1440px;
margin-left: auto;
margin-right: auto;
font-family: var(--text-font);
font-size: 16px;
letter-spacing: 0.02em;
color: var(--color-of-contact-paragraf);
background-color: var(--color-hero);