:root {

  /* Fonts */

  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Text colors  */

  --primary-text-cl: #2E2F42;
  --secondary-txt-cl: #434455;
  --hero-main-txt-cl: #FFFFFF;
  --light-primary-text-cl: #FFFFFF;
  --accent-txt-cl: #404BBF;
  --blue-txt-cl: #4D5AE5;
  --logo-blue-txt-cl: #4D5AE5;
  --logo-dark-txt-cl: #2E2F42;
  --contact-txt-cl: #434455;
  --hero-button-cl: #4D5AE5;
  --footer-logo-light-txt-cl: #F4F4FD;
  --footer-light-txt-cl: #E7E9FC;


  --portfolio-light-txt-cl: #F4F4FD;


  /* Background colors */

  --main-bg-cl: #FFFFFF;
  --footer-bg-cl: #2E2F42;

  --portfolio-team-bg-cl: #F4F4FD;

}


body {
  font-family: var(--main-font);
  color: var(--secondary-txt-cl);
  background-color: var(--main-bg-cl);
  font-size: 16px;
  letter-spacing: 0.02em;

}


.list {
  list-style: none;
}


/**
  |============================
  |  Logo Header/ Logo Footer
  |============================
*/


.logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--logo-dark-txt-cl);
  text-decoration: none;
  text-transform: uppercase;
}

footer .logo {
  color: var(--footer-logo-light-txt-cl);
}

.logo>span {
  color: var(--logo-blue-txt-cl);
}

.logo:visited {
  color: var(--logo-dark-txt-cl);
}

footer .logo:visited {
  color: var(--footer-logo-light-txt-cl);
}



/**
  |============================
  | Header/ Index Main
  |============================
*/


.header-nav {
  font-weight: 500;
}

.header-nav a,
.contact a {
  color: var(--contact-txt-cl);
}

.header-nav a.current {
  color: var(--contact-txt-cl);
}

.header-nav a:active,
.header-nav a:focus,
.contact a:active,
.contact a:focus,
.header-nav a:hover,
.contact a:hover {
  color: var(--accent-txt-cl);
}

p {
  line-height: 1.5;
}

li {
  list-style-type: none
}

a {
  text-decoration: none;
}


/* Hero */


.hero,
footer {
  background-color: var(--footer-bg-cl);
}

.hero>h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--hero-main-txt-cl);
}

.button-order {
  font-weight: 500;
  color: var(--hero-main-txt-cl);
  background-color: var(--blue-txt-cl);
  cursor: pointer;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.button-order:hover {
  background-color: var(--accent-txt-cl);
}


/* About */


.about-text {
  line-height: 1.5;
}

.about h2,
.doing-section h2,
.team h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--primary-text-cl);
}

.about h3,
.doing-section h3,
.team h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-cl);
}



/**
  |============================
  |  Portfolio Page
  |============================
*/





.portfolio button {
  background-color: var(--portfolio-light-txt-cl);
  font-weight: 500;
  color: var(--blue-txt-cl);
  cursor: pointer;

  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.portfolio button:hover,
.portfolio button:focus {
  color: var(--light-primary-text-cl);
  background-color: var(--blue-txt-cl);
}

.row-section h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.row-section h3 {
  line-height: 1.5;
}

.team {
  background-color: var(--portfolio-team-bg-cl);
}



.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



/**
  |============================
  | Footer
  |============================
*/

.footer-text {
  color: var(--footer-light-txt-cl);
  line-height: 1.5;
}